.login-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-full-width {
  width: 100%;
}

.center {
  text-align: center;
}
